<div class="about_us container py-5">
    <h2>
        {{'about_us.title' | translate}}
    </h2>
    <p>
        {{'about_us.why_choose_me_1' | translate}}
    </p>
    <span class="about_us__hr-on-image"><hr><img src="/assets/images/button.png" alt="image" class="button"></span>
    <div class="row mt-5">
        <div class="col-md-6 about_us__left">
            <img src="/assets/images/me-2.jpg" alt="image" class="w-100 d-block d-md-none">
        </div>
        <div class="col-md-6 about_us__right">
            <h3>
                {{'about_us.why_choose_me_2' | translate}}
            </h3>
            <h4>
                {{'about_us.text' | translate}}
            </h4>
            <h5>
                {{'about_us.soft_skill_title' | translate}}
            </h5>
            <div>
                <h6><span class="about_us__orange-button"></span>{{'about_us.s_1' | translate}}</h6>
                <h6><span class="about_us__orange-button"></span>{{'about_us.s_2' | translate}}</h6>
                <h6><span class="about_us__orange-button"></span>{{'about_us.s_3' | translate}}</h6>
                <h6><span class="about_us__orange-button"></span>{{'about_us.s_4' | translate}}</h6>
                <h6><span class="about_us__orange-button"></span>{{'about_us.s_5' | translate}}</h6>
                <div class="d-inline-block mt-5">
                    <button type="button" class="btn btn-primary btn__one" id="#">{{'title.header_button_1' | translate}}</button>
                    <button type="button" class="btn btn-primary btn__two" id="#">{{'title.header_button_2' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>