<div class="strengths-container py-5" id="strengths-container">
    <div class="container strengths">
        <h2>
            {{'strengths.title' | translate}}
        </h2>
        <p>
            {{'strengths.subtitle' | translate}}
        </p>
        <span class="strengths__hr-on-image"><hr><img src="/assets/images/button.png" alt="image" class="button"></span>
        <div class="row mt-5">
            <div class="col-12 col-md text-center mt-3 mt-md-0 one">
                <img src="/assets/images/s_1.png" alt="Strengths" width="70">
                <h4>
                    {{'strengths.s_t_1' | translate}}
                </h4>
                <div class="progress">
                    <div class="progress-bar w-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12 col-md text-center mt-3 mt-md-0 two">
                <img src="/assets/images/s_2.png" alt="Strengths" width="70">
                <h4>
                    {{'strengths.s_t_2' | translate}}
                </h4>
                <div class="progress">
                    <div class="progress-bar w-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12 col-md text-center mt-3 mt-md-0 three">
                <img src="/assets/images/s_3.png" alt="Strengths" width="70">
                <h4>
                    {{'strengths.s_t_3' | translate}}
                </h4>
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row mt-md-3">
            <div class="col-12 col-md text-center mt-3 mt-md-0 four">
                <img src="/assets/images/s_4.png" alt="Strengths" width="70">
                <h4>
                    {{'strengths.s_t_4' | translate}}
                </h4>
                <div class="progress">
                    <div class="progress-bar w-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12 col-md text-center mt-3 mt-md-0 five">
                <img src="/assets/images/s_5.png" alt="Strengths" width="70">
                <h4>
                    {{'strengths.s_t_5' | translate}}
                </h4>
                <div class="progress">
                    <div class="progress-bar w-70" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12 col-md text-center mt-3 mt-md-0 six">
                <img src="/assets/images/s_6.png" alt="Strengths" width="70">
                <h4>
                    {{'strengths.s_t_6' | translate}}
                </h4>
                <div class="progress">
                    <div class="progress-bar w-60" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>