  <div *ngIf="isMobile$ | async; else desktop">
    <section class="top-nav navbar-mobil">
      <div>
        <img src="/assets/images/logo.svg" width="60">
      </div>
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
      <ul class="menu">
        <li><a class="navbar-mobil__brand active" href="#header-container">{{'navbar.home' | translate}}</a></li>
        <li><a class="navbar-mobil__brand" href="#about_us_container">{{'navbar.about' | translate}}</a></li>
        <li><a class="navbar-mobil__brand" href="#strengths-container">{{'navbar.strengths' | translate}}</a></li>
        <li><a class="navbar-mobil__brand" href="#resume-container">{{'navbar.resume' | translate}}</a></li>
        <li><a class="navbar-mobil__brand" href="#portfolio-container">{{'navbar.portfolio' | translate}}</a></li>
        <li><a class="navbar-mobil__brand" href="#contact-container">{{'navbar.contact' | translate}}</a></li>
        <li>
          <button (click)="useLanguage('en')" class="btn btn-primary btn__one">en</button>
          <button (click)="useLanguage('hu')" class="btn btn-primary btn__two">hu</button>
          <button (click)="toggleDarkTheme()" class="btn btn-primary btn__three">{{'navbar.toggle' | translate}}</button>
        </li>
      </ul>
    </section>
  </div>
  <ng-template #desktop>
    <nav class="navbar-desktop navbar-expand-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="navbar-brand" href="#"><img src="/assets/images/logo.svg"></a>
          </div>
          <div class="col-md-6 pt-2">
            <a class="navbar-desktop__brand active" href="#header-container">{{'navbar.home' | translate}}</a>
            <a class="navbar__brand" href="#about_us_container">{{'navbar.about' | translate}}</a>
            <a class="navbar__brand" href="#strengths-container">{{'navbar.strengths' | translate}}</a>
            <a class="navbar__brand" href="#resume-container">{{'navbar.resume' | translate}}</a>
            <a class="navbar__brand" href="#portfolio-container">{{'navbar.portfolio' | translate}}</a>
            <a class="navbar__brand" href="#contact-container">{{'navbar.contact' | translate}}</a>
          </div>
          <div class="col-md-3">
            <button (click)="useLanguage('en')" class="btn btn-primary btn__one">en</button>
            <button (click)="useLanguage('hu')" class="btn btn-primary btn__two">hu</button>
            <button (click)="toggleDarkTheme()" class="btn btn-primary btn__three">{{'navbar.toggle' | translate}}</button>
          </div>
        </div>
      </div>
    </nav>
  </ng-template>
  