.navbar-desktop {
    background-color: var(---navbar-bkg-color);
    box-shadow: 0 0 40px rgb(63 154 245 / 58%);
    height: 150px;
    padding-top: 3.5rem;
    a {
        list-style-type: none;
        color: var(---link-text-color);
        font-size: 16px;
        text-transform: none;
        padding: 0 20px;
        text-decoration: none;
    }
    .active {
        color: #0ABEAD;
    }
}
.btn {
    border: 0;
    border-radius: 15px;
    margin-right: 10px;
    &__one {
        background-color: #0ABEAD;  
        font-size: 16px;
    }
    &__two {
        background-color: #F57F17;  
        font-size: 16px;
    }
    &__three {
        background-color: #0d6efd;
    }
}