  <div *ngIf="isMobile$ | async; else desktop">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Collapsed content</h4>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>
  <ng-template #desktop>
    <nav class="navbar-desktop navbar-expand-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="navbar-brand" href="#"><img src="/assets/images/logo.svg"></a>
          </div>
          <div class="col-md-6 pt-2">
            <a class="navbar-desktop__brand active" href="#header-container">{{'navbar.home' | translate}}</a>
            <a class="navbar__brand" href="#about_us_container">{{'navbar.about' | translate}}</a>
            <a class="navbar__brand" href="#strengths-container">{{'navbar.strengths' | translate}}</a>
            <a class="navbar__brand" href="#resume-container">{{'navbar.resume' | translate}}</a>
            <a class="navbar__brand" href="#portfolio-container">{{'navbar.portfolio' | translate}}</a>
            <a class="navbar__brand" href="#contact-container">{{'navbar.contact' | translate}}</a>
          </div>
          <div class="col-md-3">
            <button (click)="useLanguage('en')" class="btn btn-primary btn__one">en</button>
            <button (click)="useLanguage('hu')" class="btn btn-primary btn__two">hu</button>
            <button (click)="toggleDarkTheme()" class="btn btn-primary btn__three">{{'navbar.toggle' | translate}}</button>
          </div>
        </div>
      </div>
    </nav>
  </ng-template>
  