h2 {
    font-size: 48px;
    font-weight: 400;
    color: #0ABEAD;
    text-align: center;
}
p {
    font-size: 16px;
    font-weight: 300;
    color: #0ABEAD;
    text-align: center;
}
hr {
    height: 3px;
    background-color: #0ABEAD;
    margin: 0 auto;
    width: 240px;
    border: 0;
}
.contact-hr-on-image {
    position: relative;
}
.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact {
    input[type=text], textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: var(---navbar-bkg-color);
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #0ABEAD;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 25px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      h4 {
        color: #0ABEAD;
        font-size: 36px;
        font-weight: 400;
      }
      &__right-form {
        background-color: var(---contact-form);
        padding: 3rem;
      }
      &__map {
        background-color: var(---map-bgk);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        padding: 10px;
      }
}
.contact-container {
    background-image: url('/assets/images/contact-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.background {
  background-color: var(---body-bkg-color);
}