<div class="background">
    <div class="pt-5 pb-4">
        <h2>
            {{'contact.title' | translate}}
        </h2>
        <p>
            {{'contact.subtitle' | translate}}
        </p>
        <span class="contact-hr-on-image"><hr><img src="/assets/images/button.png" alt="image" class="button"></span>
    </div>
    <div class="contact-container" id="contact-container">
        <div class="container contact">
            <div class="row mt-5">
                <div class="col-md-6 d-flex align-items-center">
                    <img src="/assets/images/map.png" alt="image" class="contact__map">
                </div>
                <div class="col-md-6 contact__right-form">
                    <h4>
                        {{'contact.f_title' | translate}}
                    </h4>
                    <form action="#">
                        <input type="text" id="name" name="name" placeholder="{{'contact.f_1' | translate}}">
                    
                        <input type="text" id="email" name="email" placeholder="{{'contact.f_2' | translate}}">

                        <input type="text" id="subject" name="subject" placeholder="{{'contact.f_3' | translate}}">
                    
                        <textarea type="textarea" name="message" rows="6" form="message" placeholder="{{'contact.f_4' | translate}}"></textarea>
                        <input type="submit" value="{{'contact.f_button' | translate}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>