<div class="resume-container py-5" id="resume-container">
    <div class="container resume">
        <h2>
            {{'resume.title' | translate}}
        </h2>
        <p>
            {{'resume.subtitle' | translate}}
        </p>
        <span class="resume__hr-on-image">
            <hr><img src="/assets/images/button.png" alt="image" class="button">
        </span>
        <div class="row mt-5 ">
            <mdb-tabs [vertical]="!(isMobile$ | async)" class="nav-tabs pl-4">
                <mdb-tab title="{{'resume.t_1' | translate}}">
                    <div class="row">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.c_t_1' | translate}}
                            </h3>
                            <h4>
                                {{'resume.c_s_t_1' | translate}}
                            </h4>
                            <h4>
                                {{'resume.c_t_t_1' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">2018-2020</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.c_t_2' | translate}}
                            </h3>
                            <h4>
                                {{'resume.c_s_t_2' | translate}}
                            </h4>
                            <h4>
                                {{'resume.c_t_t_2' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">2013-2017</button>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="{{'resume.t_2' | translate}}">
                    <div class="row">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.w_t_1' | translate}}
                            </h3>
                            <h4>
                                {{'resume.w_s_t_1' | translate}}
                            </h4>
                            <h4>
                                {{'resume.w_t_t_1' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.w_d_1' | translate}}</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.w_t_2' | translate}}
                            </h3>
                            <h4>
                                {{'resume.w_s_t_2' | translate}}
                            </h4>
                            <h4>
                                {{'resume.w_t_t_2' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.w_d_2' | translate}}</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.w_t_3' | translate}}
                            </h3>
                            <h4>
                                {{'resume.w_s_t_3' | translate}}
                            </h4>
                            <h4>
                                {{'resume.w_t_t_3' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.w_d_3' | translate}}</button>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="{{'resume.t_3' | translate}}">
                    <div class="row">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.l_t_1' | translate}}
                            </h3>
                            <div class="progress mt-4 mb-2 mb-md-0">
                                <div class="progress-bar w-40" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.l_d_1' | translate}}</button>
                        </div>
                    </div>
                </mdb-tab>
                <mdb-tab title="{{'resume.t_4' | translate}}">
                    <div class="row">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.h_t_1' | translate}}
                            </h3>
                            <h4>
                                {{'resume.h_t_t_1' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.h_d_1' | translate}}</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.h_t_2' | translate}}
                            </h3>
                            <h4>
                                {{'resume.h_t_t_2' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.h_d_2' | translate}}</button>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 resume__tab-content">
                            <h3>
                                {{'resume.h_t_3' | translate}}
                            </h3>
                            <h4>
                                {{'resume.h_t_t_3' | translate}}
                            </h4>
                        </div>
                        <div class="col-md-4 resume__right-tab">
                            <button type="button" class="btn btn-primary" id="#">{{'resume.h_d_3' | translate}}</button>
                        </div>
                    </div>
                </mdb-tab>
            </mdb-tabs>
        </div>
    </div>
</div>