/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    ---body-bkg-color: transparent;
    ---navbar-bkg-color: #ffffff;
    ---link-text-color: #333333;
    ---p-text-color: #333333;
    ---about-us: transparent;
}
body.dark-theme {
    ---body-bkg-color: #161D26;
    ---navbar-bkg-color: #1F2935;
    ---link-text-color: #848181;
    ---p-text-color: #95A5C6;
    ---about-us: #1F2935;
}
.w-40 {
    width: 60%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-90 {
    width: 90%;
}