/* You can add global styles to this file, and also import other style files */
body {
    ---body-bkg-color: transparent;
    ---navbar-bkg-color: #ffffff;
    ---link-text-color: #333333;
    ---p-text-color: #333333;
    ---about-us: transparent;
    ---contact-form: #ffffff;
    ---map-bgk: #ffffff;
}
body.dark-theme {
    ---body-bkg-color: #161D26;
    ---navbar-bkg-color: #1F2935;
    ---link-text-color: #848181;
    ---p-text-color: #95A5C6;
    ---about-us: #1F2935;
    ---contact-form: #161D26;
    ---map-bgk: #161D26;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-90 {
    width: 90%;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';